
h1#galeria {
    margin: 0;
    font-size: 3em;
}
main#galeria {
    width: 100%;
    margin: 5px auto;
}
h2#galeria {
    margin-left: 10px;
}
ul#galeria {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li#galeria {
    margin: 2px;
}
a#galeria {
    display: block;
}
li img#galeria {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    main {
        width: 768px;
    }
}