{% extends 'inicio/base.html' %}
{% load static %}
<!-- A PARTIR DE AQUI EL CONTENIDO DE GALERIA -->
{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">EJEMPLO DE GALERIA</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Aplicación dentro de Django que importa contenido
                    dinamico de
                    una base de datos</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">SABER MÁS</a>
            </div>
        </div>
    </div>
</header>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <main id="galeria">
                <section id="galeria">
                    <h2 id="galeria" style="text-align: center;">
                        Galeria de Imágenes de ejempo.
                    </h2>
                    <br>
                    <ul id="galeria">
                        {% for inicio in imagen %}
                        &nbsp; &nbsp; &nbsp;
                        <li>
                            <br>
                            <a id="galeria" class="link-photo" data-lightbox="img" href="{{inicio.image.url}}"
                                title="{{inicio.titulo}}">
                                <img style="height: 200px; width: 270px;" id="galeria" src="{{inicio.image.url}}"
                                    alt="{{inicio.titulo}}">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </main>
            <script src="{% static 'galeria/js/lightbox.min.js' %}"></script>
            <script>
                const lb = lightbox();
            </script>
        </div>
    </div>
</section>
{% endblock%}